#container {
    background: #fff;
}

#container.active {
    background: #000;
}

.btn {
    width: 75px;
    height: 26px;
    border: 3px solid #03b8a6;
    border-radius: 60px;
    cursor: pointer;
}

.btn:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #dbf304;
    border-radius: 50%;
    top: 1.9%;
    left: 7px;
    transform: translateY(-50%);
}

.btn:active:before {
    left: 53px;
}